@import url('fonts/fonts.css');
$layout_color:#1C121F;
$yellow: #FFCE4E;
$white: #F5FBF2;
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: url("../icons/blur_right.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0; /* Избегаем отступов у body */
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
.container{
  width: 100%;
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
}
.header{
  width: 100%;
  padding-top: 30px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.main-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 820px;
}
.main-screen__inner{
  display: flex;
  color: $white;
  height: 100%;
}
.block{
  width: 50%;
  position: relative;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.nav__link {
  color: $white;
  font-family: WorkSans-Medium;
  text-decoration: none;
  position: relative;
  margin-left: 65px;

  &:hover {
    color: $yellow;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $yellow;
    transform: translateX(-50%);
    transition: width 0.3s ease-out;
  }

  &:hover::after {
    width: 100%;
  }
}

.explore{
  margin-right: 15px;
}
.right-link{
  margin-left: 65px;
}
.text{
  display: flex;
  flex-direction: column;
  font-family: 'Oxanium-Bold';
  font-size: 80px;
  margin-top: 70px;


}
.wallet__link{
  font-family: WorkSans-SemiBold;
  text-decoration: none;
  color: $yellow;
  padding: 15px 20px;
  border: 1px solid $yellow;
  background: rgba(233, 215, 167, 0.10);
  transition: box-shadow 0.3s ease-out;

}
.yellow-text{
  color: $yellow;
}
.header__links {
  font-size: 28px;
  padding: 15px 0;

  a {
    text-decoration: none;
    font-family: WorkSans-SemiBold;
    padding: 24px 70px;
    color: $white;
    border: 1px solid $yellow;
    background: rgba(233, 215, 167, 0.10);
  }

  a {
    &:nth-child(2) {
      margin-left: 50px;
    }
  }
}

.info{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
}
.title__info{
  font-size: 62px;
}
.suptitle__info{
  font-size: 24px;
}
.card__item{
  width: 65%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.card__img {
  position: relative;
  overflow: hidden;
}

.card__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F5FBF2;
  color: #000; /* Цвет текста */
  text-align: center;
  padding: 10px; /* Подгоните отступы под ваши предпочтения */
  box-sizing: border-box; /* Учтем padding внутри блока */
  z-index: 2; /* Поместим текст поверх изображения */
}

.card__img img {
  width: 100%;
  height: auto;
  display: block;
}
.top__text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный цвет фона для лучшей видимости текста */
  color: #fff; /* Цвет текста */
  text-align: center;
  padding: 10px; /* Подгоните отступы под ваши предпочтения */
  box-sizing: border-box; /* Учтем padding внутри блока */
  z-index: 2; /* Поместим текст поверх изображения */
}

